body{
    padding-left: 80px;
    padding-right: 80px;
    

}
#Datum{
    text-align: right;
    float: right;
        
}

#MijnGegevens{
    position: absolute

}
#GegevensBedrijf{
   padding-bottom: 50px;
   padding-top: 160px;

}

h4{
    padding-bottom: 0px;
    margin-bottom: 0px;
    line-height: 3px;

}
#FunctieJobTitle{
    padding-bottom: 40px;

}
#Inhoud{
    padding-bottom: 40px;
}
